<form action="/signup" method="POST">
  <label>Username</label><br>
  <input type="text" id="" name="username"><br>

  <label>Email</label><br>
  <input type="text" id="" name="email"><br>

  <label>Password</label><br>
  <input type="text" id="" name="password"><br>

  <button type="input">Sign Up</button>
</form>
