<h3>Create a New Pastry!!</h3>

<form method="POST" action='/pastries'>

<label>Ingredients:</label><br>
<input type="text" id="" name="ingredients"><br>
  
<label>Additional Kitchenware Used:</label><br>
<input type="text" id="" name="kitchenware"><br>
  
<label>Directions:</label><br>
<input type="text" id="" name="directions"><br>
  
<label>Price Range:</label><br>
<input type="text" id="" name="price_range"><br>

</form>
