<h3>Here they are! all the pastries</h3>
<a href="/pastries/new">Create a new Pastry</a><br>
<br>
<%@pastries.each do |pastry|%>
<a href="/pastries/<%=pastry.user.slug%>/<%=pastry.slug%>"><%=pastry.name%></a><br>
<%end%>
